
/* // small devices (watches, phones and Ipad Mini <= 768px and below) */
@media (max-width: 768px) {  

    .hero-container{
        display: block;
    }

    .feel{
        padding-left: 7rem !important;
    }

    .feel h1{
        font-size: 3rem;
    }

    .feel .btn {
        width: 7rem;
    }
    
    .hero-container .herob img{
        padding-left: 2rem !important;
    }

    .trendy-container{
        display: block;
    }

   .gallery div{
    width: 100%;
    
   } 

   .category{ 
    margin-left: 24px;
   }

   .flashsale .goods img{
    width: 100% ;
   }
   /* .flashcon .flashsale img{
    margin-left: 26px;
} */

.products .card{
    width: 100% !important;
}

}

/* // Medium devices (tablets, laptops and bigger screens >= 768px and up) */
@media (min-width: 768px) {  

    .topnav{
        margin-left: 19rem;
        display: flex !important;
        justify-content: space-between;
    }

    .gallery{
        overlay: none;
        overflow: hidden;

        margin-top: 20px;
    
    }
    
  
  

}






.hero-container .herob img{
    padding-left: 16rem;
}
.hero-cover{ 
    background-image: url(../images/Rectangle\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%px;
    overflow: hidden;

}

.feel{
    padding-left: 11rem !important;
}

.trendy{
   background-image: url(../images/trendy.svg);
    width: 99%;
    height: 280px;
    margin-top: 10px;
}

.trendy .koki img{
    width: 160px;
}

.trendy .fashion img{
    width: 35rem;
}




